/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

/*********************
SIDEBAR
*********************/

// Instagram

// Pinterest

#pinterest-pinboard-container {
  .pinboard {
    a {
      width: 30%;
      margin: 1.5%;
      float: left;
      height: 100px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  a.pin_logo {
    visibility: hidden;
  }
  .pin_text {
    text-align: center;
    display: block;

    // a {
    //   color: white;
    //   padding: 4px 14px;
    //   background: #333;
    //   border-radius: 4px;
    //   font-size: 14px;
    // }

    a {
      background-color: #e1e1e1 !important;
      text-align: center;
      padding: 5px;
      width: 98%;
      margin: 0px auto;
      outline: 1px solid #ddd;
      outline-offset: 5px;
      color: #444 !important;
      text-transform: uppercase;
      text-shadow: 0px 0px 0px black;

      display: block;
      clear: both;


      &:hover {
        background-color: $bcblue !important;
        outline-color: darken($bcblue, 5%) !important;
        color: white !important;
        text-shadow: none;
      }
    }
  }
}