/******************************************************************
Site Name: 
Author: 

Stylesheet: Mobile Only Stylesheet

******************************************************************/

.header {

	#nav-container {
		nav {
			li {
				width: 50%;
				float: left;
				text-align: center;
				padding: 20px 0;

				a {
					/* 5-24-15 */
					text-transform: uppercase;
				}
			}
		}
	}

	#header-social {

		font-size: 36px;
		text-align: center;
		a {
			padding: 20px 5%;
			display: inline-block;
		}
	}
}